<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="UTF-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular-animate.min.js"></script>

        <script src="app.js"></script>
        <link href="styles.css" type="text/css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
        <title>Andrey Selin's Assignment</title>
    </head>
    <body>
        <div ng-controller="MyController">
            <div class="controls">
                <button ng-click="toggle()" ng-bind="actionToDo"></button>
            </div>
            <div class="queues-container">
                <div class="queue">
                    <div class="_header">Asks</div>
                    <div class="_col-names">
                        <div class="_number"   >Number</div>
                        <div class="_quantity" >Amount</div>
                        <div class="_price"    >Price</div>
                    </div>
                    <div class="_item animate" ng-repeat="order in asks | orderBy : '-price' | limitTo:20 ">
                        <div class="_number"   ng-bind="order.number"></div>
                        <div class="_quantity" ng-bind="order.quantity"></div>
                        <div class="_price"    ng-bind="order.price"></div>
                    </div>
                </div>
                <div class="queue">
                    <div class="_header">Bids</div>
                    <div class="_col-names">
                        <div class="_number"   >Number</div>
                        <div class="_quantity" >Amount</div>
                        <div class="_price"    >Price</div>
                    </div>
                    <div class="_item animate" ng-repeat="order in bids | orderBy : '-price' | limitTo:20 ">
                        <div class="_number"   ng-bind="order.number"></div>
                        <div class="_quantity" ng-bind="order.quantity"></div>
                        <div class="_price"    ng-bind="order.price"></div>
                    </div>
                </div>
                <div class="queue">
                    <div class="_header">Matches</div>
                    <div class="_col-names">
                        <div class="_bid-number" >Match<br />number</div>
                        <div class="_bid-number" >Bid<br />number</div>
                        <div class="_ask-number" >Ask<br />number</div>
                        <div class="_quantity"   >Match<br />amount</div>
                        <div class="_price"      >Price</div>
                        <div class="_price"      >Time</div>
                    </div>
                    <div class="_item animate" ng-repeat="match in matches | orderBy:'-number' | limitTo:30 ">
                        <div class="_bid-number" ng-bind="match.number"></div>
                        <div class="_bid-number" ng-bind="match.bid.number"></div>
                        <div class="_ask-number" ng-bind="match.ask.number"></div>
                        <div class="_quantity"   ng-bind="match.quantity"></div>
                        <div class="_price"      ng-bind="match.price"></div>
                        <div class="_price"      ng-bind="match.time"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>