body{
    font-family: 'Droid Serif', serif;
}

.controls{
    padding:5px;
    margin-bottom:5px;
    border-bottom:1px solid rgba(0,0,0,0.2);
}

button{
    color: white;
    background:forestgreen;
    padding:5px 8px;
    border:none;
    border-radius:5px;
    font-size:1rem;
}

.queues-container{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

.queue{

    /*padding:5px;*/
    border:1px solid rgba(0,0,0,0.2);
}

.queue ._header {
    padding:10px;
    text-align: center;
    font-size:1.5rem;
    border-bottom:1px solid rgba(0,0,0,0.2);
}

.queue ._item, .queue ._col-names{
    display:flex;
}
.queue ._item{
    border-top:1px solid rgba(0,0,0,0.2);
}

.queue ._item:hover{
    background:rgba(0,0,0,0.1);
}

.queue ._item div, .queue ._col-names div{
    width:8vw;
    padding:5px 8px;
    box-sizing:border-box;
}

/* ====== animations ====== */


.animate.ng-enter,
.animate.ng-leave
{
    -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition:    200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition:     200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition:      200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition:         200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
}

.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter {
    background:rgba(0,0,0,0.1);
    height: 0;
}

.animate.ng-enter.ng-enter-active,
.animate.ng-leave {
    background:none;
    height: 30px;
}
